{% extends "index.html" %}
{% block title %}.Borrows{% endblock %}

{% block handler %}
<div class="handler-cell">
  <h3>Search</h3>
  <form method="post" action="/borrows/search">
    <input type="text" name="txt-search-cid">
    <input type="submit" name="bth-search" value="Search">
  </form>
</div>

<div class="handler-cell">
  <h3>Show Table</h3>
  <form method="post" action="/borrows">
    <input type="submit" name="btn-table" value="Currently">
    <input type="submit" name="btn-table" value="All">
    <input type="submit" name="btn-table" value="Late">
  </form>  
</div>

<div class="handler-cell">
  <h3>Borrow Book</h3>
  <form method="post" action="/borrows/borrow">
    <table class="form-table">
     <tr>
        <td style="text-align: right;">ISBN:</td>
        <td><input type="text" name="txt-isbn"></td>
      </tr>
      <tr>
        <td style="text-align: right;">CID:</td>
        <td><input type="text" name="txt-cid"></td>
      </tr>
      <tr>
        <td style="text-align: right;">LID:</td>
        <td><input type="text" name="txt-sid"></td>
      </tr>
    </table>
    <input type="submit" name="btn-add" value="Borrow">
  </form>  
  {% if borrow_error %}
    <p class="error-txt">{{ borrow_error }}</p>
  {% endif %}
</div>

<div class="handler-cell">
  <h3>Set New Return Date</h3>
  <form method="post" action="/borrows/set-date">
    <input type="date" name="date-new-date">
    <input type="text" name="txt-bid">
    <input type="submit" name="btn-set-date" value="Set Date">
  </form>  
</div>

<div class="handler-cell">
  <h3>Update Return Date</h3>
  <form method="post" action="/borrows/update-date">
    <input type="number" min="1" max="365" name="number-days">
    <input type="text" name="txt-bid">
    <input type="submit" name="btn-remove" value="Update Date">
  </form>  
</div>

<div class="handler-cell">
  <h3>Return Book</h3>
  <form method="post" action="/borrows/return">
    <input type="text" name="txt-bid">
    <input type="submit" name="btn-return" value="Return">
  </form>  
</div>
{% endblock %}


{% block table %}
{% if table_type == 0 %} 
<table>
  <thead>
    <tr>
      <th>ISBN</th>
      <th>Title</th>
      <th>Borrowed count</th>
      <th>Earliest return</th>
    </tr>
  </thead>
  <tbody>
    {% for attr in content %}
    <tr>
      <td>{{ attr[0] }}</td>
      <td>{{ attr[1] }}</td>
      <td>{{ attr[2] }}</td>
      <td>{{ attr[3] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% if table_type == 1 %} 
<table>
  <thead>
    <tr>
      <th>BID</th>
      <th>ISBN</th>
      <th>CID</th>
      <th>SID</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Returned Date</th>
    </tr>
  </thead>
  <tbody>
    {% for attr in content %}
    <tr>
      <td>{{ attr[0] }}</td>
      <td>{{ attr[1] }}</td>
      <td>{{ attr[2] }}</td>
      <td>{{ attr[3] }}</td>
      <td>{{ attr[4] }}</td>
      <td>{{ attr[5] }}</td>
      <td>{{ attr[6] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %} 
